/****** NAVBAR ******/
.navbar .navbar-brand {
	font-family: 'Lobster', cursive;
	font-size: 1.8em;
}

.navbar .navbar-text {
	color: white;
}


/****** BODY ******/


/****** QUADRANT ******/
#quadrant-header {
	/*background-color: #39796b;*/
	background-color: #00251a;
	color: white;
}


/****** LOGIN ******/
.container .style-jumbo .jumbotron {
	background-color: #39796b;
	color: white;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 50%;
	border-bottom-left-radius: 50%;
}

#login-logo {
	font-family: 'Lobster', cursive;
}

.grop-form .center-form-div {
	margin: 0 auto;
	width: 100%;
}

#login-btn {
	color: #fff;
	background-color: #00251a;
	border-color: #26a69a;
}

#login-btn:hover {
	color: #fff;
	background-color: #26a69a;
	border-color: #00251a;
}

#register-link {
	/*color: #aebfbe;*/
	color: rgba(255,255,255,.5);
}

#register-link:hover {
	color: #fff;
}


/****** PROFILE ******/
#edit-button {
	color: #004D40;
	background-color: transparent;
	background-image: none;
	border-color: #004D40;
	width: 100px;
}

#edit-button:hover {
	color: #fff;
	background-color: #004D40;
	border-color: #004D40;
}

#edit-button:focus {
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

#profile-details {
	font-size: 1.2em;
}