<!-- Quadrant Table -->
<table class="table table-hover mt-3">
	<thead class="text-center" id="quadrant-header">
			<tr>
	        <th>Step</th>
	        <th>LO</th>
	        <th>IN</th>
	        <th>HU</th>
	        <th>CO</th>
			</tr>
	</thead>
	<tbody>
		<tr class="text-center">
			<td>Dia Vuelta</td>
			<td class="">{{grid['round_days'][12]}}</td>
			<td class="">{{grid['round_days'][13]}}</td>
			<td class="">{{grid['round_days'][14]}}</td>
			<td class="">{{grid['round_days'][15]}}</td>
		</tr>
		<tr class="text-center">
			<td>Fecha</td>
			<td class="">{{grid['dates_str'][12]}}</td>
			<td class="">{{grid['dates_str'][13]}}</td>
			<td class="">{{grid['dates_str'][14]}}</td>
			<td class="">{{grid['dates_str'][15]}}</td>
		</tr>
		<tr class="text-center">
			<td>Nro semana</td>
			<td class="">{{grid['week_nbr'][12]}}</td>
			<td class="">{{grid['week_nbr'][13]}}</td>
			<td class="">{{grid['week_nbr'][14]}}</td>
			<td class="">{{grid['week_nbr'][15]}}</td>
		</tr>
		<tr class="text-center">
			<td>Dia de semana</td>
			<td class="">{{grid['weekday'][12].capitalize()}}</td>
			<td class="">{{grid['weekday'][13].capitalize()}}</td>
			<td class="">{{grid['weekday'][14].capitalize()}}</td>
			<td class="">{{grid['weekday'][15].capitalize()}}</td>
		</tr>
		<tr class="text-center">
			<td>Dia del anio</td>
			<td class="">{{grid['day_nbr'][12]}}</td>
			<td class="">{{grid['day_nbr'][13]}}</td>
			<td class="">{{grid['day_nbr'][14]}}</td>
			<td class="">{{grid['day_nbr'][15]}}</td>
		</tr>
		<tr class="text-center">
			<td>Freq Neg</td>
			<td class="">{{grid['freq_neg'][12]}}</td>
			<td class="">{{grid['freq_neg'][13]}}</td>
			<td class="">{{grid['freq_neg'][14]}}</td>
			<td class="">{{grid['freq_neg'][15]}}</td>
		</tr>
		<tr class="text-center">
			<td>GAP</td>
			<td class="">{{grid['gap'][12]}}</td>
			<td class="">{{grid['gap'][13]}}</td>
			<td class="">{{grid['gap'][14]}}</td>
			<td class="">{{grid['gap'][15]}}</td>
		</tr>
		<tr class="text-center">
			<td>Fecha GAP</td>
			<td class="">{{grid['gap_date_str'][12]}}</td>
			<td class="">{{grid['gap_date_str'][13]}}</td>
			<td class="">{{grid['gap_date_str'][14]}}</td>
			<td class="">{{grid['gap_date_str'][15]}}</td>
		</tr>
		<tr class="text-center">
			<td>Quinta Etapa</td>
			<td class="">{{grid['fs'][12]}}</td>
			<td class="">{{grid['fs'][13]}}</td>
			<td class="">{{grid['fs'][14]}}</td>
			<td class="">{{grid['fs'][15]}}</td>
		</tr>
		<tr class="text-center">
			<td>AU</td>
			<td class="">{{grid['au'][12]}}</td>
			<td class="">{{grid['au'][13]}}</td>
			<td class="">{{grid['au'][14]}}</td>
			<td class="">{{grid['au'][15]}}</td>
		</tr>
    </tbody>
</table>