<!-- Quadrant Table -->
<table class="table table-hover mt-3">
	<thead class="text-center" id="quadrant-header">
			<tr>
	        <th>Step</th>
	        <th>LO</th>
	        <th>IN</th>
	        <th>HU</th>
	        <th>CO</th>
			</tr>
	</thead>
	<tbody>
		<tr class="text-center">
			<td>Round Day</td>
			<td class="">{{grid['round_days'][0]}}</td>
			<td class="">{{grid['round_days'][1]}}</td>
			<td class="">{{grid['round_days'][2]}}</td>
			<td class="">{{grid['round_days'][3]}}</td>
		</tr>
		<tr class="text-center">
			<td>Date</td>
			<td class="">{{grid['dates_str'][0]}}</td>
			<td class="">{{grid['dates_str'][1]}}</td>
			<td class="">{{grid['dates_str'][2]}}</td>
			<td class="">{{grid['dates_str'][3]}}</td>
		</tr>
		<tr class="text-center">
			<td>Week Number</td>
			<td class="">{{grid['week_nbr'][0]}}</td>
			<td class="">{{grid['week_nbr'][1]}}</td>
			<td class="">{{grid['week_nbr'][2]}}</td>
			<td class="">{{grid['week_nbr'][3]}}</td>
		</tr>
		<tr class="text-center">
			<td>Week Day</td>
			<td class="">{{grid['weekday'][0]}}</td>
			<td class="">{{grid['weekday'][1]}}</td>
			<td class="">{{grid['weekday'][2]}}</td>
			<td class="">{{grid['weekday'][3]}}</td>
		</tr>
		<tr class="text-center">
			<td>Day Nbr</td>
			<td class="">{{grid['day_nbr'][0]}}</td>
			<td class="">{{grid['day_nbr'][1]}}</td>
			<td class="">{{grid['day_nbr'][2]}}</td>
			<td class="">{{grid['day_nbr'][3]}}</td>
		</tr>
		<tr class="text-center">
			<td>Neg Freq</td>
			<td class="">{{grid['freq_neg'][0]}}</td>
			<td class="">{{grid['freq_neg'][1]}}</td>
			<td class="">{{grid['freq_neg'][2]}}</td>
			<td class="">{{grid['freq_neg'][3]}}</td>
		</tr>
		<tr class="text-center">
			<td>GAP</td>
			<td class="">{{grid['gap'][0]}}</td>
			<td class="">{{grid['gap'][1]}}</td>
			<td class="">{{grid['gap'][2]}}</td>
			<td class="">{{grid['gap'][3]}}</td>
		</tr>
		<tr class="text-center">
			<td>GAP Date</td>
			<td class="">{{grid['gap_date_str'][0]}}</td>
			<td class="">{{grid['gap_date_str'][1]}}</td>
			<td class="">{{grid['gap_date_str'][2]}}</td>
			<td class="">{{grid['gap_date_str'][3]}}</td>
		</tr>
		<tr class="text-center">
			<td>Fifth Stage</td>
			<td class="">{{grid['fs'][0]}}</td>
			<td class="">{{grid['fs'][1]}}</td>
			<td class="">{{grid['fs'][2]}}</td>
			<td class="">{{grid['fs'][3]}}</td>
		</tr>
		<tr class="text-center">
			<td>AU</td>
			<td class="">{{grid['au'][0]}}</td>
			<td class="">{{grid['au'][1]}}</td>
			<td class="">{{grid['au'][2]}}</td>
			<td class="">{{grid['au'][3]}}</td>
		</tr>
    </tbody>
</table>