<!-- Quadrant Table -->
<table class="table table-hover mt-3">
	<thead class="text-center" id="quadrant-header">
			<tr>
	        <th>Step</th>
	        <th>LO</th>
	        <th>IN</th>
	        <th>HU</th>
	        <th>CO</th>
			</tr>
	</thead>
	<tbody>
		<tr class="text-center">
			<td>Round Day</td>
			<td class="">{{grid['round_days'][8]}}</td>
			<td class="">{{grid['round_days'][9]}}</td>
			<td class="">{{grid['round_days'][10]}}</td>
			<td class="">{{grid['round_days'][11]}}</td>
		</tr>
		<tr class="text-center">
			<td>Date</td>
			<td class="">{{grid['dates_str'][8]}}</td>
			<td class="">{{grid['dates_str'][9]}}</td>
			<td class="">{{grid['dates_str'][10]}}</td>
			<td class="">{{grid['dates_str'][11]}}</td>
		</tr>
		<tr class="text-center">
			<td>Week Number</td>
			<td class="">{{grid['week_nbr'][8]}}</td>
			<td class="">{{grid['week_nbr'][9]}}</td>
			<td class="">{{grid['week_nbr'][10]}}</td>
			<td class="">{{grid['week_nbr'][11]}}</td>
		</tr>
		<tr class="text-center">
			<td>Week Day</td>
			<td class="">{{grid['weekday'][8]}}</td>
			<td class="">{{grid['weekday'][9]}}</td>
			<td class="">{{grid['weekday'][10]}}</td>
			<td class="">{{grid['weekday'][11]}}</td>
		</tr>
		<tr class="text-center">
			<td>Day Nbr</td>
			<td class="">{{grid['day_nbr'][8]}}</td>
			<td class="">{{grid['day_nbr'][9]}}</td>
			<td class="">{{grid['day_nbr'][10]}}</td>
			<td class="">{{grid['day_nbr'][11]}}</td>
		</tr>
		<tr class="text-center">
			<td>Neg Freq</td>
			<td class="">{{grid['freq_neg'][8]}}</td>
			<td class="">{{grid['freq_neg'][9]}}</td>
			<td class="">{{grid['freq_neg'][10]}}</td>
			<td class="">{{grid['freq_neg'][11]}}</td>
		</tr>
		<tr class="text-center">
			<td>GAP</td>
			<td class="">{{grid['gap'][8]}}</td>
			<td class="">{{grid['gap'][9]}}</td>
			<td class="">{{grid['gap'][10]}}</td>
			<td class="">{{grid['gap'][11]}}</td>
		</tr>
		<tr class="text-center">
			<td>GAP Date</td>
			<td class="">{{grid['gap_date_str'][8]}}</td>
			<td class="">{{grid['gap_date_str'][9]}}</td>
			<td class="">{{grid['gap_date_str'][10]}}</td>
			<td class="">{{grid['gap_date_str'][11]}}</td>
		</tr>
		<tr class="text-center">
			<td>Fifth Stage</td>
			<td class="">{{grid['fs'][8]}}</td>
			<td class="">{{grid['fs'][9]}}</td>
			<td class="">{{grid['fs'][10]}}</td>
			<td class="">{{grid['fs'][11]}}</td>
		</tr>
		<tr class="text-center">
			<td>AU</td>
			<td class="">{{grid['au'][8]}}</td>
			<td class="">{{grid['au'][9]}}</td>
			<td class="">{{grid['au'][10]}}</td>
			<td class="">{{grid['au'][11]}}</td>
		</tr>
    </tbody>
</table>