<!-- Quadrant Table -->
<table class="table table-hover mt-3">
	<thead class="text-center" id="quadrant-header">
			<tr>
	        <th>Step</th>
	        <th>LO</th>
	        <th>IN</th>
	        <th>HU</th>
	        <th>CO</th>
			</tr>
	</thead>
	<tbody>
		<tr class="text-center">
			<td>Round Day</td>
			<td class="">9</td>
			<td class="">10</td>
			<td class="">11</td>
			<td class="">12</td>
		</tr>
		<tr class="text-center">
			<td>Date</td>
			<td class="">8-Oct-2018</td>
			<td class="">8-Oct-2018</td>
			<td class="">8-Oct-2018</td>
			<td class="">8-Oct-2018</td>
		</tr>
		<tr class="text-center">
			<td>Week Number</td>
			<td class="">40</td>
			<td class="">40</td>
			<td class="">40</td>
			<td class="">40</td>
		</tr>
		<tr class="text-center">
			<td>Week Day</td>
			<td class="">Monday</td>
			<td class="">Tuesday</td>
			<td class="">Wednesday</td>
			<td class="">Thursday</td>
		</tr>
		<tr class="text-center">
			<td>Day Nbr</td>
			<td class="">281</td>
			<td class="">282</td>
			<td class="">283</td>
			<td class="">284</td>
		</tr>
		<tr class="text-center">
			<td>Neg Freq</td>
			<td class="">84</td>
			<td class="">83</td>
			<td class="">82</td>
			<td class="">81</td>
		</tr>
		<tr class="text-center">
			<td>GAP</td>
			<td class="">197</td>
			<td class="">199</td>
			<td class="">201</td>
			<td class="">203</td>
		</tr>
		<tr class="text-center">
			<td>GAP Date</td>
			<td class="">16-Jul-2017</td>
			<td class="">16-Jul-2017</td>
			<td class="">16-Jul-2017</td>
			<td class="">16-Jul-2017</td>
		</tr>
		<tr class="text-center">
			<td>Fifth Stage</td>
			<td class="">771</td>
			<td class="">772</td>
			<td class="">773</td>
			<td class="">774</td>
		</tr>
		<tr class="text-center">
			<td>AU</td>
			<td class="">408</td>
			<td class="">409</td>
			<td class="">410</td>
			<td class="">411</td>
		</tr>
    </tbody>
</table>